@charset "UTF-8";

.glr{
	margin: 0 auto;
	width: 1000px;
	padding-top: 230px;
	text-align: center;
}
.imm{
	margin: 0 auto;
	width: 1000px;
	display: flex;
}
.imm img{
	margin: 25px 4px;
	border: 1px solid #e24217;
}
.auto{
	margin: 0 auto;
	width: 1000px;
	text-align: right;
}
.s-menu{
	margin: 0 auto;
	width: 1000px;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
}
